---
import ClippedImage from '../components/ClippedImage.astro';
import NavBar from '../components/NavBar.astro';
import { ClientRouter } from 'astro:transitions';

const {
	title = "Katherina Braschel",
	description = "Website der Schriftstellerin Katherina Braschel",
	image = "/src/assets/ka_gross.jpg", 
	imageAlt = "Porträt von Katherina Braschel", 
	copyright="Leonhard Pill" 
} = Astro.props;
---

<html lang="de-AT">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
        <div class="mx-auto max-w-7xl py-12 lg:py-32">
            <div class="mx-auto lg:mx-0 lg:max-w-xl px-6 lg:px-8 lg:pr-0">
                <slot />
            </div>
        </div>
        <ClippedImage imagePath={image} altText={imageAlt} copyright={copyright} />
	</body>
	<!-- 👾👾👾 -->
</html>
